.how-it-works {

    &__inner {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--divider-color);
        padding-top: var(--space-80);
        padding-right: var(--space-16);
        padding-bottom: var(--space-100);
        padding-left: var(--space-16);
        gap: var(--space-80);
    }

    &__cta {
        display:flex;
        flex-direction:column;
        gap: var(--space-40);

        .button {
            align-self: flex-start;
        }
    }

    &__steps {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    &__step {
        flex: 0 0 240px;
        display: flex;
        flex-direction: column;
        padding-top: var(--space-60);
        padding-right: var(--space-30);
        padding-bottom: var(--space-20);
        gap: var(--space-60);
        border-top: 1px solid var(--divider-color);
    }

    &__step-number {
        font-family: var(--font-body);
        font-weight: var(--font-weight-regular);
        font-size: 64px;
        line-height: 1;
        letter-spacing: -4%;
        color: var(--accent-color-6);
    }

    &__step-content {
        display: flex;
        flex-direction: column;
        gap: var(--space-20);

        h3 {
            font-size: 18px;
            font-family: var(--font-heading);
            line-height: 1;
            letter-spacing: -3%;
        }
    }

}

@media (min-width: 800px) {

    .how-it-works {
        &__inner{
            padding-top: var(--space-80);
            padding-bottom: var(--space-120);
            padding-left: 0;
            padding-right: 0;
        }

        &__cta {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
        }

        &__steps {
            gap: var(--space-20);
            overflow-x: visible; 
        }

        &__step {
            flex: 1;
            min-width: 0px;
            display: flex;
            flex-direction: column;
            gap: var(--space-60);
            border-top: 1px solid var(--divider-color);
        }

        &__step-number {
            font-size: 80px;
        }
    }

}

@media (min-width: 1280px) {

    .how-it-works {

        &__cta {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
        }

        &__steps {
            gap: var(--space-20);
            overflow-x: visible; 
        }

        &__step {
            flex: 1;
            min-width: 0px;
            display: flex;
            flex-direction: column;
            gap: var(--space-60);
            border-top: 1px solid var(--divider-color);
        }

        &__step-number {
            font-size: 80px;
        }
    }

}