/* ---- Crimson Text ---- */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Crimson-Text/crimson-text-v19-latin-regular.woff2') format('woff2');
}

/* ---- DM Sans ---- */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/DM-Sans/dm-sans-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/DM-Sans/dm-sans-v17-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/DM-Sans/dm-sans-v17-latin-700.woff2') format('woff2');
}

/* ---- Roboto Mono ---- */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Roboto-Mono/roboto-mono-v31-latin-regular.woff2') format('woff2');
}

/* ---- Rethink sans ---- */
@font-face {
  font-family: 'Rethink sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Rethink-sans/rethink-sans-v7-latin-500.woff2') format('woff2');
}

/* ---- Reddit Mono ---- */
@font-face {
  font-family: 'Reddit Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Reddit-Mono/reddit-mono-v5-latin-500.woff2') format('woff2');
}