body{
    font-family: var(--font-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
    color: var(--accent-color-4);
}

h1, h2 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing-h1);
    color: var(--accent-color-4);
}

p {
    font-family: var(--font-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
    color: var(--text-color);
}

a {
    font-family: var(--font-link);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-link);
    line-height: var(--line-height-link);
    letter-spacing: var(--letter-spacing-link);
}