:root {
    --font-heading: 'Crimson Text', serif;
    --font-body: 'DM Sans', sans-serif;
    --font-link: 'DM Sans', sans-serif;
    --font-caption: 'Roboto Mono', monospace;
    --font-table-heading-1: 'Rethink sans', sans-serif;
    --font-table-heading-2: 'Reddit Mono', monospace;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-h1: 50px;
    --font-size-h2: 40px;
    --font-size-h3: 18px;
    --font-size-body: 15px;
    --font-size-link: 14px;
    --font-size-caption: 10.5px;

    --line-height-h1: 0.95;
    --line-height-h2: 1.1;
    --line-height-h3: 1;
    --line-height-body: 1.4;
    --line-height-link: 1.4;
    --line-height-caption: 1.4;

    --letter-spacing-h1: -3%;
    --letter-spacing-h2: -4%;
    --letter-spacing-h3: -3%;
    --letter-spacing-body: -0.5%;
    --letter-spacing-link: -2.5%;
    --letter-spacing-caption: -1%;

    --accent-color-1: #485C11;
    --accent-color-2: #DFECC6;
    --accent-color-3: #8E9C78;
    --accent-color-4: #000000;
    --accent-color-6: #CECECE;
    --divider-color: #E9E9E9;
    --bg-color:#ffffff;
    --text-color:#6F6F6F;
    --number-color:#6F6F6F;

    --space-8: 8px;
    --space-10: 10px;
    --space-14: 14px;
    --space-16: 16px;
    --space-20: 20px;
    --space-22: 22px;
    --space-30: 30px;
    --space-32: 32px;
    --space-40: 40px;
    --space-60: 60px;
    --space-80: 80px;
    --space-100: 100px;
    --space-120: 120px;
    --space-140: 140px;

    --border-radius-pill: 1000px;
    --border-radius-table: 20px;

    --container-width: 100%;
    --container-max-width: 1500px;
}

@media (min-width: 800px) {
  :root {
    --font-size-h1: 54px;
    --line-height-h1: 0.90;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size-h1: 60px;
  }
}